.creacion-page {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/fotos/fondos/creacion.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
