.investigacion-page {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/fotos/fondos/investigacion.JPEG');
  background-size: cover;
  background-position: center;
  position: relative;
}
