.splash-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  align-items: center;
}

.bg-home {
  background-image: url('../assets/fotos/fondos/imagen-fondo-home.JPEG');
}

.splash-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.logo-splash {
  width: 375px;
  margin-bottom: 20px;
}

.splash-text-cat {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}

.splash-text-mov {
  font-size: 1.5rem;
  font-style: italic;
  margin: 0;
}

.splash-panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #211708;
  color: white;
  padding: 25px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  z-index: 10;
}

/* === PILARES DECORATIVOS === */
.splash-right {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.splash-pillar {
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: clamp(1.2rem, 2.5vw, 2.5rem);
  pointer-events: none;  /* decorativo: no interactivo */
  user-select: none;
  width: clamp(170px, 20vw, 320px);
  height: clamp(170px, 20vw, 320px);
}

.splash-pilar-creacion {
  background-color: rgba(255, 255, 0, 0.58);
  border: 4px solid #a46e1b;
  color: white;
  top: 10%;
  left: 29%;
}

.splash-pilar-difusion {
  background-color: rgba(0, 176, 240, 0.5);
  border: 4px solid #212121;
  color: white;
  top: 10%;
  left: 47%;
}

.splash-pilar-educacion {
  background-color: rgba(240, 0, 154, 0.5);
  border: 4px solid magenta;
  color: #93c47d;
  top: 44%;
  left: 29%;
}

.splash-pilar-investigacion {
  background-color: rgba(173, 173, 173, 0.4);
  border: 4px solid #212121;
  color: white;
  top: 44%;
  left: 47%;
}

.movPilarText-creacion,
.movPilarText-dif-lines,
.movPilarText-educacion,
.movPilarText-investigacion{
  color: white !important;
}

.movPilarText-creacion,
.movPilarText-educacion {
  font-size: clamp(2rem, 4.2vw, 4rem) !important;
}

.movPilarText-investigacion {
  font-size: clamp(3rem, 3.8vw, 4rem) !important;
}

.movPilarText-difusion {
  position: relative;
  display: inline-block;
}

.dif-lines {
  font-size: clamp(2.5rem, 3.8vw, 4rem);
  line-height: 1;
  position: absolute;
  right: -0.8em;
  top: 50%;
  transform: translateY(-50%);
}

.dif-amp {
  position: absolute;
  right: -1.1em;
  top: 50%;
  transform: translateY(-50%);
  color: yellow;
  font-size: clamp(3rem, 6.5vw, 7rem);
  pointer-events: none;
}